/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 abr. 2022, 14:13:59
    Author     : javip
*/
body{
    margin: 0;
    padding: 0;
}
#reloj{
    font-family: '1up!';
    text-align: center;
    font-size: 600%;
    color: black;
    position: absolute;
    top: 3%;
    left: 35%;
    right: 35%;
    border: 7px solid black;
    padding: 1%;
}

#reloj:hover{
    color: #ffff00;
}

#mario{
    position: absolute;
    top: 72%;
}

#coin{
    height: 8%;
    position: absolute;
    top: 30%;
    left: 29.2%;
}

#coin:active{
    visibility: hidden;
}

#moneda:hover{
    display: none;
}

#wallpaper{
    height: 100%;
    width: 100%;
    display:block;
}